@model Degree.Library.Models.SearchJokeResult
@using Degree.Library.Models;
@using Degree.Web.Controllers;

<div class="tab-pane">
    <ul class="nav nav-tabs" role="tablist" id="jokes">
        @{
            var shortJokes = this.Model.Jokes
                .Where(j => j.TypeBySize == JokeSize.Short)
                .ToList();
            if (shortJokes.Any())
            {
                <li class="nav-item">
                    <a class="nav-link active" href="#shortJokeBody" data-toggle="tab" role="tab" data-tabid="shortJokes">
                        Short Jokes  <span class="badge badge-info">@shortJokes.Count()</span>
                    </a>
                </li>
            }
            var mediumJokes = this.Model.Jokes
                .Where(j => j.TypeBySize == JokeSize.Medium)
                .ToList();
            if (mediumJokes.Any())
            {
                <li class="nav-item">
                    <a class="nav-link" href="#mediumJokeBody" data-toggle="tab" role="tab" data-tabid="mediumJokes">
                        Medium Jokes  <span class="badge badge-info">@mediumJokes.Count()</span>
                    </a>
                </li>
            }
            var longJokes = this.Model.Jokes
                .Where(j => j.TypeBySize == JokeSize.Long)
                .ToList();
            if (longJokes.Any())
            {
                <li class="nav-item">
                    <a class="nav-link" href="#longJokeBody" data-toggle="tab" role="tab" data-tabid="longJokes">
                        Long Jokes  <span class="badge badge-info">@longJokes.Count()</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>
<div class="tab-content">
    @if (shortJokes.Any())
    {
        <div id="shortJokeBody" class="fade tab-pane show active" role="tabpanel">
            <ul class="list-group">
                @foreach (var joke in shortJokes)
                {
                    <li class="list-group-item">@Html.Raw(joke.GetEmphatizedBody(this.Model.SearchTerm, "<code class=\"font-weight-bold\">{0}</code>"))</li>

                }
            </ul>
        </div>
    }
    @if (mediumJokes.Any())
    {
        <div id="mediumJokeBody" class="fade tab-pane" role="tabpanel">
            <ul class="list-group">
                @foreach (var joke in mediumJokes)
                {
                    <li class="list-group-item">@Html.Raw(joke.GetEmphatizedBody(this.Model.SearchTerm, "<code class=\"font-weight-bold\">{0}</code>"))</li>
                }
            </ul>
        </div>
    }
    @if (longJokes.Any())
    {
        <div id="longJokeBody" class="fade tab-pane" role="tabpanel">
            <ul class="list-group">
                @foreach (var joke in longJokes)
                {
                    <li class="list-group-item">@Html.Raw(joke.GetEmphatizedBody(this.Model.SearchTerm, "<code class=\"font-weight-bold\">{0}</code>"))</li>
                }
            </ul>
        </div>
    }
</div>